@include('includes/header')
<body>
@include('includes/navbar')
<!-- Main content -->
<div class="container">
    <div class="page-heading">
            <button class="btn btn-primary pull-right ml-5" type="button" data-toggle="modal" data-target="#addSotietkiem1"><span><i class="mdi mdi-plus-circle-outline"></i></span> {{__('sotietkiem1.button.add-income')}} </button>
        <div class="heading-content">
            <div class="user-image">
                @if(empty($user->avatar))
                <img src="{{ asset('assets/images/avatar.png') }}" class="img-circle img-responsive">
                @else
                <img src="{{ asset('uploads/avatar/'.$user->avatar) }}" class="img-circle img-responsive">
                @endif
            </div>
            <div class="heading-title">
                <h2>{{__('income.heading.welcome')}}, {{$user->fname}} {{$user->lname}}</h2>
                <p>{{__('income.heading.intro')}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4>{{__('sotietkiem1.income-table.income-records')}}</h4>
              </div>
              <div class="card-body">
                  <div class="table-responsive longer">
                      <table class="table display">
                          <thead>
                              <tr>
                                  <th>{{__('sotietkiem1.income-table.img_bank')}}</th>
                                  <th width="20%">{{__('sotietkiem1.income-table.name')}}</th>
                                  <th>{{__('sotietkiem1.income-table.sodubandau')}}</th>
                                  <th>Kỳ hạn</th>
                                  <th>{{__('sotietkiem1.income-table.laisuat')}}</th>
                                  <th>{{__('sotietkiem1.income-table.ngaygui')}}</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                            @if(count($sotietkiem) > 0)
                            @foreach($sotietkiem as $sotietkiem1) 
                              <tr>
                                <td class="text-center">
                                    <div class="icon-account"><i class="mdi mdi-briefcase"></i></div>
                                </td>
                                  <td><strong>{{$sotietkiem1->tensotietkiem}}</strong><br/>
                                    <input type="hidden" name="sotietkiemid" value="{{$sotietkiem->id}}" />
                                    <input type="hidden" name="accountid" value="{{$account->id}}" />
                                  </td>
                                  <td>{{money($sotietkiem1->sodubandau)}}</td>
                                  @if($sotietkiem1->kyhan == 01)
                                    <td>1 Tuần</td>
                                  @elseif($sotietkiem1->kyhan == 02)
                                  <td>2 Tuần</td>
                                  @elseif($sotietkiem1->kyhan == 03)
                                  <td>3 Tuần</td>
                                  @elseif($sotietkiem1->kyhan == 04)
                                  <td>1 Tháng</td>
                                  @elseif($sotietkiem1->kyhan == 05)
                                  <td>3 Tháng</td>
                                  @elseif($sotietkiem1->kyhan == 06)
                                  <td>6 Tháng</td>
                                  @elseif($sotietkiem1->kyhan == 07)
                                  <td>12 Tháng</td>
                                  @endif
                                  <td><strong>{{($sotietkiem1->laisuat)}}%/năm</strong></td>
                                  <td><span>{{date('M d, Y', strtotime($sotietkiem1->ngaygui))}}</span></td>
                                 
                                  
                                  <td>
                                      <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{__('expenses.expense-table.actions')}} <span class="caret"></span> </button>
                                        <ul class="dropdown-menu">
                                          <li><a class="send-to-server-click" data="csrf-token:{{csrf_token()}}|sotietkiemid:{{$sotietkiem1->id}}" url="{{ url('sotietkiem1@tattoanluon') }}" warning-title="Nếu tất toán hôm nay lãi ước tính được tính theo lãi suất không kỳ hạn ({{$sotietkiem1->laisuatkhongkyhan}}%/năm). Bạn có muốn tiếp tục không?" warning-message="Sau khi tất toán, sổ tiết kiệm này sẽ được xóa vĩnh viễn.
                                            Số tiền tất toán sẽ được chuyển vào tài khoản gửi tiền vào sổ tiết kiệm." warning-button="{{__('sotietkiem1.messages.continue')}}" loader="true"><i class="mdi mdi-delete"></i> Tất toán</a></li>
                                            <li><a class="c-dropdown__item dropdown-item fetch-display-click" url="{{url('sotietkiem1@updateview')}}" data="csrf-token:{{csrf_token()}}|sotietkiemid:{{$sotietkiem1->id}}" holder=".update-form" modal="#update" href=""><i class="mdi mdi-pencil"></i> {{__('expenses.expense-table.edit')}}</a></li>
                                            <li><a class="send-to-server-click" data="csrf-token:{{csrf_token()}}|sotietkiemid:{{$sotietkiem1->id}}" url="{{ url('sotietkiem1@delete') }}" warning-title="{{__('sotietkiem1.messages.are-you-sure')}}" warning-message="{{__('sotietkiem1.messages.delete')}}" warning-button="{{__('sotietkiem1.messages.continue')}}" loader="true"><i class="mdi mdi-delete"></i> {{__('expenses.expense-table.delete')}}</a></li>
                                        </ul>
                                      </div>
                                  </td>
                              </tr>
                              @endforeach
                              @else
                              <tr>
                                <td colspan="5" class="text-center">{{__('expenses.expense-table.empty')}}</td>
                              </tr>
                              @endif
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
        </div>
        

  <!-- footer -->
</div>
</div>
  @include('includes/footer')


    <!-- view edit modal -->
    <div class="modal fade" id="update" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="update-form"></div>
      </div>
    </div>
<!-- tất toán -->
    <div class="modal fade" id="tattoan" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="tattoan-form"></div>
        </div>
      </div>


    <!-- scripts -->
    <!-- <script src="assets/js/jquery-3.2.1.min.js"></script> -->
    <script src="{{ url('') }}lang/{{env('APP_LOCALE_DEFAULT')}}/simcify-lang2.js"></script> <!-- js language translation -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
    <script src="{{asset('assets/libs/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/js//jquery.slimscroll.min.js')}}"></script>
    <script src="{{asset('assets/js/simcify.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.22/sorting/datetime-moment.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.22/sorting/currency.js"></script>
    <!-- custom scripts -->
    <script src="{{asset('assets/js/app.js')}}"></script>
    <script src="{{ url('') }}lang/{{env('APP_LOCALE_DEFAULT')}}/lang2.js"></script> <!-- js language translation -->
    <script>
        $(document).ready(function() {
            $.fn.dataTable.moment("MMM DD, YYYY");
            $('#datatable').DataTable({
                dom: 'Bfrtip',
                columnDefs: [
                  { type: 'currency', targets: 2 }
                ],
                order: [[ 1, 'desc']],
                buttons: [{
                extend: 'excelHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2 ],
                },
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2 ],
                    stripNewlines: false,
                    },
                    customize : function(doc) {
                        doc.content[1].table.widths = [ '60%', '20%', '20%',];
                    }
            }
                ],
                language: {
                    url: '{{ url('') }}lang/{{env('APP_LOCALE_DEFAULT')}}/table_lang1.json'
                }
            });
        });

    </script>
</body>
</html>